{% extends 'base.html.twig' %}

{% block title %}ServiceAV index{% endblock %}

{% block body %}
    <h1>ServiceAV index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomdeproduit</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service_a_v in service_a_vs %}
            <tr>
                <td>{{ service_a_v.id }}</td>
                <td>{{ service_a_v.Nomdeproduit }}</td>
                <td>{{ service_a_v.Description }}</td>
                <td>
                    <a href="{{ path('service_a_v_show', {'id': service_a_v.id}) }}">show</a>
                    <a href="{{ path('service_a_v_edit', {'id': service_a_v.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('service_a_v_new') }}">Create new</a>
{% endblock %}
