<header>
	<!-- Begin Header Top Area -->
	<div class="header-top">
		<div class="container">
			<div
				class="row">
				<!-- Begin Header Top Left Area -->
				<div class="col-lg-3 col-md-4">
					<div class="header-top-left">
						<ul class="phone-wrap">
							<li>
								<span>Telephone Enquiry:</span>
								<a href="#">(+123) 123 321 345</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- Header Top Left Area End Here -->
				<!-- Begin Header Top Right Area -->
				<div class="col-lg-9 col-md-8">
					<div class="header-top-right">
						<ul
							class="ht-menu">
							<!-- Begin User Area -->
							{% if is_granted('IS_AUTHENTICATED_FULLY') %}
								<li>
									<img class="user"
											{% if app.user.image is empty %}
												src="{{ asset('dist/img/avatar5.png')}}"
											{% else %}
												src="{{'/uploads/' ~ app.user.image }}"
											{% endif %}
										 alt="User profile picture">
									<a href="{{path('profile_front',{'id':app.user.id})}}" style="color:Red;font-family:Rubik;font-size:24px"> {{ app.user.username }}</a>
								</li>
							{% else %}
								<li class="fa fa-user" style='font-size:29px;color:black'>
									<a href="{{ path('login') }}" style="color:Red;font-family:Rubik;font-size:24px"> Login</a>
								</li>
							{% endif %}
							<!-- User Area End Here -->
						</ul>
					</div>
				</div>
				<!-- Header Top Right Area End Here -->
			</div>
		</div>
	</div>
	{% for flashSuccess in app.flashes('success') %}
		<div class="alert alert-success" role="alert">{{ flashSuccess }}</div>
	{% endfor %}
	{% for flashSuccess in app.flashes('Profile_Modified') %}
		<div class="alert alert-info" role="alert">{{ flashSuccess }}</div>
	{% endfor %}
	{% for flashSuccess in app.flashes('Email_Sent') %}
		<div class="alert alert-success" role="alert">{{ flashSuccess }}</div>
	{% endfor %}
	<!-- Header Top Area End Here -->
	<!-- Begin Header Middle Area -->
	<div class="header-middle pl-sm-0 pr-sm-0 pl-xs-0 pr-xs-0">
		<div class="container">
			<div
				class="row">
				<!-- Begin Header Logo Area -->
				<div class="col-lg-3">
					<div class="logo pb-sm-30 pb-xs-30">
						<a href="{{ path('home') }}">
							<img src="{{ asset('images/menu/logo/1.jpg') }}" alt="">
						</a>
					</div>
				</div>
				<!-- Header Logo Area End Here -->
				<!-- Begin Header Middle Right Area -->
				<div
					class="col-lg-9 pl-0 ml-sm-15 ml-xs-15">
					<!-- Begin Header Middle Searchbox Area -->
					<!-- Header Middle Searchbox Area End Here -->
					<!-- Begin Header Middle Right Area -->
					<div class="header-middle-right">
						<ul
							class="hm-menu">
							<!-- Begin Header Middle Wishlist Area -->
							<li class="hm-wishlist">
								<a href="wishlist.html">
									<span class="cart-item-count wishlist-item-count">0</span>
									<i class="fa fa-heart-o"></i>
								</a>
							</li>
							<!-- Header Middle Wishlist Area End Here -->
							<!-- Begin Header Mini Cart Area -->
							<li class="hm-minicart">
								<div class="hm-minicart-trigger">
									<span class="item-icon"></span>
									<span class="item-text">
										<span id="total1">0 DT</span>
										<span class="cart-item-count" id="cart-counter">0</span>
									</span>
								</div>
								<span></span>
								<div class="minicart">
									<p class="minicart-total">Total:
										<span id="total2">0 DT</span>
									</p>
									<div class="minicart-button">
										<a href="{{path('panier_index')}}" class="li-button li-button-fullwidth li-button-dark">
											<span>View Cart</span>
										</a>
										<a href="#" class="li-button li-button-fullwidth">
											<span>Checkout</span>
										</a>
									</div>
								</div>
							</li>
							<!-- Header Mini Cart Area End Here -->
						</ul>
					</div>
					<!-- Header Middle Right Area End Here -->
				</div>
				<!-- Header Middle Right Area End Here -->
			</div>
		</div>
	</div>
	<!-- Header Middle Area End Here -->
	<!-- Begin Header Bottom Area -->
	<div class="header-bottom mb-0 header-sticky stick d-none d-lg-block d-xl-block">
		<div class="container">
			<div class="row">
				<div
					class="col-lg-12">
					<!-- Begin Header Bottom Menu Area -->
					<div class="hb-menu">
						<nav>
							<ul>
								<li class="dropdown-holder">
									<a href="{{ path('home') }}">Home</a>
									<ul class="hb-dropdown">
										<li>
											<a href="{{ path('home') }}">Home One</a>
										</li>
										<li>
											<a href="{{ path('index-2') }}">Home Two</a>
										</li>
										<li>
											<a href="{{ path('index-3') }}">Home Three</a>
										</li>
										<li>
											<a href="index-4.html">Home Four</a>
										</li>
									</ul>
								</li>
								<li class="catmenu-dropdown megamenu-holder">
									<a href="shop-left-sidebar.html">Shop</a>
									<ul class="megamenu hb-megamenu">
										<li>
											<a href="shop-left-sidebar.html">Shop Page Layout</a>
											<ul>
												<li><a href="shop-3-column.html">Shop 3 Column</a></li>
												<li><a href="shop-4-column.html">Shop 4 Column</a></li>
												<li><a href="shop-left-sidebar.html">Shop Left Sidebar</a></li>
												<li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
												<li><a href="shop-list.html">Shop List</a></li>
												<li><a href="shop-list-left-sidebar.html">Shop List Left Sidebar</a></li>
												<li><a href="shop-list-right-sidebar.html">Shop List Right Sidebar</a></li>
											</ul>
										</li>
										<li>
											<a href="single-product-gallery-left.html">Single Product Style</a>
											<ul>
												<li><a href="single-product-carousel.html">Single Product Carousel</a></li>
												<li><a href="single-product-gallery-left.html">Single Product Gallery Left</a></li>
												<li><a href="single-product-gallery-right.html">Single Product Gallery Right</a></li>
												<li><a href="single-product-tab-style-top.html">Single Product Tab Style Top</a></li>
												<li><a href="single-product-tab-style-left.html">Single Product Tab Style Left</a></li>
												<li><a href="single-product-tab-style-right.html">Single Product Tab Style Right</a></li>
											</ul>
										</li>
										<li>
											<a href="single-product.html">Single Products</a>
											<ul>
												<li><a href="single-product.html">Single Product</a></li>
												<li><a href="single-product-sale.html">Single Product Sale</a></li>
												<li><a href="single-product-group.html">Single Product Group</a></li>
												<li><a href="single-product-normal.html">Single Product Normal</a></li>
												<li><a href="single-product-affiliate.html">Single Product Affiliate</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="dropdown-holder">
									<a href="blog-left-sidebar.html">Blog</a>
									<ul class="hb-dropdown">
										<li class="sub-dropdown-holder">
											<a href="blog-left-sidebar.html">Blog Grid View</a>
											<ul class="hb-dropdown hb-sub-dropdown">
												<li>
													<a href="blog-2-column.html">Blog 2 Column</a>
												</li>
												<li>
													<a href="blog-3-column.html">Blog 3 Column</a>
												</li>
												<li>
													<a href="blog-left-sidebar.html">Grid Left Sidebar</a>
												</li>
												<li>
													<a href="blog-right-sidebar.html">Grid Right Sidebar</a>
												</li>
											</ul>
										</li>
										<li class="sub-dropdown-holder">
											<a href="blog-list-left-sidebar.html">Blog List View</a>
											<ul class="hb-dropdown hb-sub-dropdown">
												<li>
													<a href="blog-list.html">Blog List</a>
												</li>
												<li>
													<a href="blog-list-left-sidebar.html">List Left Sidebar</a>
												</li>
												<li>
													<a href="blog-list-right-sidebar.html">List Right Sidebar</a>
												</li>
											</ul>
										</li>
										<li class="sub-dropdown-holder">
											<a href="blog-details-left-sidebar.html">Blog Details</a>
											<ul class="hb-dropdown hb-sub-dropdown">
												<li>
													<a href="blog-details-left-sidebar.html">Left Sidebar</a>
												</li>
												<li>
													<a href="blog-details-right-sidebar.html">Right Sidebar</a>
												</li>
											</ul>
										</li>
										<li class="sub-dropdown-holder">
											<a href="blog-gallery-format.html">Blog Format</a>
											<ul class="hb-dropdown hb-sub-dropdown">
												<li>
													<a href="blog-audio-format.html">Blog Audio Format</a>
												</li>
												<li>
													<a href="blog-video-format.html">Blog Video Format</a>
												</li>
												<li>
													<a href="blog-gallery-format.html">Blog Gallery Format</a>
												</li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="catmenu-dropdown megamenu-static-holder">
									<a href="{{ path('home') }}">Pages</a>
									<ul class="megamenu hb-megamenu">
										<li>
											<a href="blog-left-sidebar.html">Blog Layouts</a>
											<ul>
												<li><a href="blog-2-column.html">Blog 2 Column</a></li>
												<li><a href="blog-3-column.html">Blog 3 Column</a></li>
												<li><a href="blog-left-sidebar.html">Grid Left Sidebar</a></li>
												<li><a href="blog-right-sidebar.html">Grid Right Sidebar</a></li>
												<li><a href="blog-list.html">Blog List</a></li>
												<li><a href="blog-list-left-sidebar.html">List Left Sidebar</a></li>
												<li><a href="blog-list-right-sidebar.html">List Right Sidebar</a></li>
											</ul>
										</li>
										<li>
											<a href="blog-details-left-sidebar.html">Blog Details Pages</a>
											<ul>
												<li><a href="blog-details-left-sidebar.html">Left Sidebar</a></li>
												<li><a href="blog-details-right-sidebar.html">Right Sidebar</a></li>
												<li><a href="blog-audio-format.html">Blog Audio Format</a></li>
												<li><a href="blog-video-format.html">Blog Video Format</a></li>
												<li><a href="blog-gallery-format.html">Blog Gallery Format</a></li>
											</ul>
										</li>
										<li>
											<a href="{{ path('home') }}">Other Pages</a>
											<ul>
												<li>
													<a href="checkout.html">Checkout</a>
												</li>
												<li>
													<a href="compare.html">Compare</a>
												</li>
												<li>
													<a href="wishlist.html">Wishlist</a>
												</li>
												<li class="active">
													<a href="shopping-cart.html">Shopping Cart</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="{{ path('home') }}">Other Pages 2</a>
											<ul>
												<li><a href="contact.html">Contact</a></li>
												<li><a href="about-us.html">About Us</a></li>
												<li><a href="faq.html">FAQ</a></li>
												<li><a href="404.html">404 Error</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li>
									<a href="about-us.html">About Us</a>
								</li>
								<li>
									<a href="contact.html">Contact</a>
								</li>
								<li>
									<a href="shop-left-sidebar.html">Smartwatch</a>
								</li>
								<li>
									<a href="shop-left-sidebar.html">Accessories</a>
								</li>
							</ul>
						</nav>
					</div>
					<!-- Header Bottom Menu Area End Here -->
				</div>
			</div>
		</div>
	</div>
	<!-- Header Bottom Area End Here -->
	<!-- Begin Mobile Menu Area -->
	<div class="mobile-menu-area d-lg-none d-xl-none col-12">
		<div class="container">
			<div class="row">
				<div class="mobile-menu"></div>
			</div>
		</div>
	</div>
	<!-- Mobile Menu Area End Here -->
</header>
