<!doctype html>
<html class="no-js" lang="zxx">

<!-- shop-left-sidebar31:47-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>BrainTech</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('images/favicon.png') }}">
    <!-- Material Design Iconic Font-V2.2.0 -->
    <link rel="stylesheet" href="{{ asset('css/material-design-iconic-font.min.css')}} ">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css')}} ">
    <!-- Font Awesome Stars-->
    <link rel="stylesheet" href="{{ asset('css/fontawesome-stars.css')}} ">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="{{ asset('css/meanmenu.css')}} ">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css')}} ">
    <!-- Slick Carousel CSS -->
    <link rel="stylesheet" href="{{ asset('css/slick.css')}} ">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{{ asset('css/animate.css')}} ">
    <!-- Jquery-ui CSS -->
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css')}} ">
    <!-- Venobox CSS -->
    <link rel="stylesheet" href="{{ asset('css/venobox.css')}} ">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="{{ asset('css/nice-select.css')}} ">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="{{ asset('css/magnific-popup.css')}} ">
    <!-- Bootstrap V4.1.3 Fremwork CSS -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}} ">
    <!-- Helper CSS -->
    <link rel="stylesheet" href="{{ asset('css/helper.css')}} ">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{{ asset('css/style.css')}}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{{ asset('css/responsive.css')}} ">
    <link rel="stylesheet" href="{{ asset('css/star.css')}} ">
    <link rel="stylesheet" href="{{ asset('css/hide_text.css')}}">
    <!-- Modernizr js -->
    <script src="{{ asset('js/vendor/modernizr-2.8.3.min.js') }}"></script>
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Begin Body Wrapper -->
<div class="body-wrapper">
    <!-- Begin Header Area -->
    <header>
        <!-- Begin Header Top Area -->
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <!-- Begin Header Top Left Area -->
                    <div class="col-lg-3 col-md-4">
                        <div class="header-top-left">
                        </div>
                    </div>
                    <!-- Header Top Left Area End Here -->
                    <!-- Begin Header Top Right Area -->
                    <div class="col-lg-9 col-md-8">
                        <div class="header-top-right">
                            <ul class="ht-menu">
                                <!-- Begin User Area -->
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <li>
                                        <img class="user"
                                                {% if app.user.image is empty %}
                                                    src="{{ asset('dist/img/avatar5.png')}}"
                                                {% else %}
                                                    src="{{'/uploads/' ~ app.user.image }}"
                                                {% endif %}
                                             alt="User profile picture">
                                        <a href="{{path('profile_front',{'id':app.user.id})}}" style="color:Red;font-family:Rubik;font-size:24px"> {{ app.user.username }}</a>
                                    </li>
                                {% else %}
                                    <li class="fa fa-user" style='font-size:29px;color:black'>
                                        <a href="{{ path('login') }}" style="color:Red;font-family:Rubik;font-size:24px"> Login</a>
                                    </li>
                                {% endif %}
                                <!-- User Area End Here -->
                            </ul>
                        </div>
                    </div>
                    <!-- Header Top Right Area End Here -->
                </div>
            </div>
        </div>
        {% for flashSuccess in app.flashes('reclamation_added') %}
            <div class="alert alert-success" role="alert">{{ flashSuccess }}</div>
        {% endfor %}
        {% for flashSuccess in app.flashes('success') %}
            <div class="alert alert-success" role="alert">{{ flashSuccess }}</div>
        {% endfor %}
        {% for flashSuccess in app.flashes('Profile_Modified') %}
            <div class="alert alert-info" role="alert">{{ flashSuccess }}</div>
        {% endfor %}
        {% for flashSuccess in app.flashes('Email_Sent') %}
            <div class="alert alert-success" role="alert">{{ flashSuccess }}</div>
        {% endfor %}

        <!-- Header Top Area End Here -->
        <!-- Begin Header Middle Area -->
        <div class="header-middle pl-sm-0 pr-sm-0 pl-xs-0 pr-xs-0">
            <div class="container">
                <div class="row">
                    <!-- Begin Header Logo Area -->
                    <div class="col-lg-3">
                        <div class="logo pb-sm-30 pb-xs-30">
                            <a href="{{ path('home') }}">
                                <img class="user" src="{{ asset('images/menu/logo/team_logo.jpg') }}" style="height: 130px;width: 130px;">
                            </a>
                        </div>
                    </div>
                    <!-- Header Logo Area End Here -->
                    <!-- Begin Header Middle Right Area -->
                    <div class="col-lg-9 pl-0 ml-sm-15 ml-xs-15">
                        <!-- Begin Header Middle Searchbox Area -->
                        <!-- Header Middle Searchbox Area End Here -->
                        <!-- Begin Header Middle Right Area -->
                        <div class="header-middle-right">
                            <ul class="hm-menu">
                                <!-- Begin Header Middle Wishlist Area -->
                                <li class="hm-wishlist">
                                    <a href="wishlist.html">
                                        <span class="cart-item-count wishlist-item-count">0</span>
                                        <i class="fa fa-heart-o"></i>
                                    </a>
                                </li>
                                <!-- Header Middle Wishlist Area End Here -->
                                <!-- Begin Header Mini Cart Area -->
                                <li class="hm-minicart">
                                    <div class="hm-minicart-trigger">
                                        <span class="item-icon"></span>
                                        <span class="item-text">
										<span id="total1">0 DT</span>
										<span class="cart-item-count" id="cart-counter">0</span>
									</span>
                                    </div>
                                    <span></span>
                                    <div class="minicart">
                                        <p class="minicart-total">Total:
                                            <span id="total2">0 DT</span>
                                        </p>
                                        <div class="minicart-button">
                                            <a href="{{path('panier_index')}}" class="li-button li-button-fullwidth li-button-dark">
                                                <span>View Cart</span>
                                            </a>
                                            <a href="#" class="li-button li-button-fullwidth">
                                                <span>Checkout</span>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <!-- Header Mini Cart Area End Here -->
                            </ul>
                        </div>
                        <!-- Header Middle Right Area End Here -->
                    </div>
                    <!-- Header Middle Right Area End Here -->
                </div>
            </div>
        </div>
        <!-- Header Middle Area End Here -->
        <!-- Begin Header Bottom Area -->
        <div class="header-bottom header-sticky d-none d-lg-block d-xl-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Begin Header Bottom Menu Area -->
                        <div class="hb-menu">
                            <nav>
                                <ul>
                                    <li class=""><a href="{{ path('home') }}">Home</a></li>
                                   <li><a href="{{ path('offre') }}">Offre</a></li>
                                    <li><a href="{{ path('envoyer-reclamation') }}">Reclamation</a></li>
                                    <li><a href="{{ path('panier_index') }}">Commande</a></li>
                                    <li></li>
                                    <li><a href="{{ path('service_a_v_ajoutS') }}">ServiceAv</a></li>

                                </ul>
                            </nav>
                        </div>
                        <!-- Header Bottom Menu Area End Here -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Bottom Area End Here -->
        <!-- Begin Mobile Menu Area -->
        <div class="mobile-menu-area d-lg-none d-xl-none col-12">
            <div class="container">
                <div class="row">
                    <div class="mobile-menu">
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile Menu Area End Here -->
    </header>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Table de view</h3>
                        </div>
                        <div class="card-body">
                            <div class="row margin">

                                <table id="example2" class="table table-bordered table-hover">

                                    <tr {% for c in promotion %}>

                                        <div class="card-body">
                                            <table class="row">
                                                <div class="col-sm-4">
                                                    <td class="position-relative p-3 bg-gray" style="height: 180px">
                                                        <div class="ribbon-wrapper">
                                                            <div class="ribbon bg-primary">

                                                                {{ c.pourcentage }} %
                                                            </div>
                                                        </div>

                                                        {{ c.description}}<br />
                                                        <small><a>debut: {{c.dated|date('d/m/Y')}}</a></small>
                                                        <div>
                                                            <small><a>fin: {{c.datef|date('d/m/Y')}}</a></small>

                                                        </div>


                                                </div>

                                        </div>
                                    </tr {% endfor %}>
                                </table>
                            </div></div></div></div></div></div></section>
</div>
    <!-- Body Wrapper End Here -->
    <!-- jQuery-V1.12.4 -->
    <script src="{{ asset('js/vendor/jquery-1.12.4.min.js') }}"></script>
    <!-- Popper js -->
    <script src="{{ asset('js/vendor/popper.min.js') }}"></script>
    <!-- Bootstrap V4.1.3 Fremwork js -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <!-- Ajax Mail js -->
    <script src="{{ asset('js/ajax-mail.js') }}"></script>
    <!-- Meanmenu js -->
    <script src="{{ asset('js/jquery.meanmenu.min.js') }}"></script>
    <!-- Wow.min js -->
    <script src="{{ asset('js/wow.min.js') }}"></script>
    <!-- Slick Carousel js -->
    <script src="{{ asset('js/slick.min.js') }}"></script>
    <!-- Owl Carousel-2 js -->
    <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
    <!-- Magnific popup js -->
    <script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
    <!-- Isotope js -->
    <script src="{{ asset('js/isotope.pkgd.min.js') }}"></script>
    <!-- Imagesloaded js -->
    <script src="{{ asset('js/imagesloaded.pkgd.min.js') }}"></script>
    <!-- Mixitup js -->
    <script src="{{ asset('js/jquery.mixitup.min.js') }}"></script>
    <!-- Countdown -->
    <script src="{{ asset('js/jquery.countdown.min.js') }}"></script>
    <!-- Counterup -->
    <script src="{{ asset('js/jquery.counterup.min.js') }}"></script>
    <!-- Waypoints -->
    <script src="{{ asset('js/waypoints.min.js') }}"></script>
    <!-- Barrating -->
    <script src="{{ asset('js/jquery.barrating.min.js') }}"></script>
    <!-- Jquery-ui -->
    <script src="{{ asset('js/jquery-ui.min.js') }}"></script>
    <!-- Venobox -->
    <script src="{{ asset('js/venobox.min.js') }}"></script>
    <!-- Nice Select js -->
    <script src="{{ asset('js/jquery.nice-select.min.js') }}"></script>
    <!-- ScrollUp js -->
    <script src="{{ asset('js/scrollUp.min.js') }}"></script>
    <!-- Main/Activator js -->
    <script src="{{ asset('js/main.js') }}"></script>
    <script src="{{asset('js/scripts.js')}}"></script>
    <script src="https://use.fontawesome.com/c7a898bb34.js"></script>
    <script src="https://kit.fontawesome.com/c3bc39d032.js" crossorigin="anonymous"></script>
<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="../../plugins/jszip/jszip.min.js"></script>
<script src="../../plugins/pdfmake/pdfmake.min.js"></script>
<script src="../../plugins/pdfmake/vfs_fonts.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!-- Page specific script -->
<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
<link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
<!-- DataTables -->
<link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="../../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="../../dist/css/adminlte.min.css">

</body>

<!-- shop-left-sidebar31:48-->
</html>