{% extends 'base.html.twig' %}

{% block title %}TypeAV{% endblock %}

{% block body %}
    <h1>TypeAV</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_a_v.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ type_a_v.Description }}</td>
            </tr>
            <tr>
                <th>Nature</th>
                <td>{{ type_a_v.nature }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_a_v_index') }}">Retour</a>

    <a href="{{ path('type_a_v_edit', {'id': type_a_v.id}) }}">Modifier</a>

    {{ include('type_av/_delete_form.html.twig') }}
{% endblock %}
