{% extends 'base.html.twig' %}

{% block title %}ServiceAV{% endblock %}

{% block body %}
    <h1>ServiceAV</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service_a_v.id }}</td>
            </tr>
            <tr>
                <th>Nomdeproduit</th>
                <td>{{ service_a_v.Nomdeproduit }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ service_a_v.Description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('service_a_v_index') }}">Retour</a>

    <a href="{{ path('service_a_v_edit', {'id': service_a_v.id}) }}">Modifier</a>

    {{ include('service_av/_delete_form.html.twig') }}
{% endblock %}
