{% extends 'afficheC.html.twig' %}


{% block title %}Affichage Code{% endblock %}

{% block body %}
    <h1> Affichage  Code</h1>

    {{form_start(formC)}}
    {{form_label(formC.id_c)}}
    {{ form_widget (formC.id_c)}}
    {{ form_errors(formC.id_c) }}
    {{form_label(formC.code)}}
    {{ form_widget (formC.code)}}
    {{ form_errors(formC.code) }}
    {{form_label(formC.pourcentage_p)}}
    {{ form_widget (formC.pourcentage_p)}}
    {{ form_errors(formC.pourcentage_p) }}
    <bouton type="submit"> add</bouton>
    {{ form_end(formC) }}

{% endblock %}